<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="NuGet" value="https://api.nuget.org/v3/index.json" />
		<add key="RoslynPreRelease" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" />
	</packageSources>
	<packageSourceMapping>
		<packageSource key="NuGet">
			<package pattern="*" />
		</packageSource>
		<packageSource key="RoslynPreRelease">
			<package pattern="Microsoft.CodeAnalysis.*" />
			<!--<package pattern="NuGet.Frameworks" />-->
		</packageSource>
	</packageSourceMapping>
</configuration>
